<%- model_class = Partner -%>
<div>
<h3>Partners</h3>
</div>
<p><%= link_to "New Partner", new_partner_path, id: "new_partner", remote: true, class: "btn btn-success" %></p>
<br/>
<%= nested_partners @partners.arrange(:order => :name) %>