<div class="page-header">
  <h1>HeatCheck<small> Is it hot in here?</small></h1>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Current Issues</a>
  </li>
  <li><a href="#">Heat Map</a></li>
  <li><a href="#">Contacts</a></li>
  <li><a href="#">Issue History</a></li>
</ul>
