
	<div class="hero-unit">  
	    <h1>HeatCheck <br/><small>Is it hot in here?</small></h1>  
	    <p>
	    	<%= form_tag show_map_partners_path, method: "get"  do %>
			  <%= select_tag :id, options_for_select(Partner.all.collect{ |u| [u.name, u.id] }), :prompt => "Select Partner" %><br/><br/>
			  <%= submit_tag "View Heat Map", :class => 'btn btn-danger btn-large', :id=> "view_button", disabled: true %>
			<% end %>
	    </p>
	  </div>   
	  <div class="row-fluid"> 
		<div class="span4">  
		    <h2>Provider</h2>  
		    <p>Define the criteria that matters most to your customers and partners.  Configure reports and actions</p>  
		    <p><a class="btn btn-success btn-large" href="#">Configure</a></p>  
		</div> 
	    <div class="span4">  
	      <h2>Partners</h2>  
	      <p>Review your list of partners and keep track of the contacts, issues and commitments that you have made </p>  
	      <p><a class="btn btn-success btn-large" href="#">Manage</a></p>  
	    </div>  
	  <div class="span4">  
	    <h2>Customers</h2>  
	    <p>Track the hot issues that are keeping your end customers awake at night. Whether direct or through your partner channel </p>  
	    <p><a class="btn btn-success btn-large" href="#">Measure</a></p>  
	  </div>  

	  </div>
