<%- model_class = Customer -%>
<div class="page-header">
<h1>Customers <small>(through partners)</small></h1>
</div>
<%= render 'form' %>
<br/>
<%= nested_customers @customers.arrange(:order => :name) %>


