<%- model_class = Customer -%>
<div>
<h3>Customers <small>(through partners)</small></h3>
</div>
<p><%= link_to "New Customer", new_customer_path, id: "new_customer", remote: true, class: "btn btn-success"  %></p>
<br/>
<%= nested_customers @customers.arrange(:order => :name) %>


