<p><%= link_to "New Primary Contact", [:new, @contactable, :contact], :class => "btn btn-info" %></p>

<% if @contacts %>
 <%= nested_contacts @contacts.arrange %>
<% else %>
 <p>No contacts defined</p>
<% end %>
