// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#incomplete_plans form {
  margin: 5px 0;
}

#complete_plans form {
  font-size: 12px;
  color: #777;
  margin: 3px 0;
  label { text-decoration: line-through; }
}